<p>
  dashboard works!
</p>

<nav>
<a routerLink="/about" href="#about10" pageScroll id="demoScroll1">About routerlink</a>
</nav>

<div id="dashboard1">
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
  <h1>dashboard 1</h1>
</div>
<div id="dashboard2">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard3">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard4">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard5">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard6">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard7">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard8">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard9">
  <h1>dashboard 1</h1>
</div>
<div id="dashboard10">
  <h1>dashboard 1</h1>
</div>
