<meta http-equiv="Content-Security-Policy" content="default-src 'self'; font-src 'self' data: fonts.gstatic.com;">
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <nav>
    <a routerLink="home" routerLinkActive="active">Home routerlink</a>
    <a routerLink="about" href="#about10" pageScroll id="demoScroll1">About routerlink</a>
    <a routerLink="dashboard">Dashboard routerlink</a>

  </nav>
  <router-outlet></router-outlet>

  <footer>
    <p><a href="#about" pageScroll>Go to top</a></p>
  </footer>

</div>


